<h1> Custom range Data </h1>
<%= form_tag display_custom_range_glucose_meters_path, method: 'get' do %>
<p>From: <%= date_select("range", "st") %></p>
<p> To:<%= date_select("range", "ed") %></p>
<%= hidden_field_tag("glucose_meter_id", current_user.id)%>
<%= submit_tag "Search", :name => nil %>
<% end %>
<%#= render 'show_data' %>
<%= render 'stats_links' %>
