<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @glucose_meter.level %>
</p>

<p>
  <strong>References:</strong>
  <%= @glucose_meter.references %>
</p>

<%= link_to 'Edit', edit_glucose_meter_path(@glucose_meter) %> |
<%= link_to 'Back', glucose_meters_path %>
